.createStudent {
  padding: 10px;
  height: 95vh;
  background-color: #dadbd3;
}

.createStudentContainer {
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
  margin: 10px;
  height: 85vh;
  width: 80vw;
  border-radius: 20px;
}

.createStudentPicture {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createStudentForm {
  display: flex;
  flex-direction: column;
}
.createStudentForm1stRow {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.createStudentForm2ndRow {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.createStudentForm3rdRow {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.createStudentbtn {
  align-items: center;
  background-color: rgb(90, 50, 155);
  font-weight: 900;
  border: none;
  margin-top: 30px;
  margin-left: 35vw;
  color: #dadbd3;
  border-radius: 3px;
  width: 100px;
  height: 50px;
}
